Spectrum_Results/First_Simu/WAVE_DATA/WAVE_DATA.zip
wavepy/__pycache__/__init__.cpython-39.pyc
wavepy/__pycache__/file_folder_helpers.cpython-39.pyc
wavepy/__pycache__/physical_constants.cpython-39.pyc
wavepy/__pycache__/wave_b_helper.cpython-39.pyc
wavepy/__pycache__/wave.cpython-39.pyc
wavepy/__pycache__/wavepy_incl.cpython-39.pyc
wavepy/WAVE/stage/.wavesystem
wavepy/WAVE/stage/WAVE_CODE.DAT
wavepy/WAVE/stage/wave_run.log
wavepy/WAVE/stage/wave_start.seeds
wavepy/WAVE/stage/wave.seeds
*.pyc
src/wavepy/WAVE/stage/arrays_specf_3701.wvh
src/wavepy/WAVE/stage/arrays_spect__reaima_3700.wvh
src/wavepy/WAVE/stage/beam_electrons_30.wvh
src/wavepy/WAVE/stage/brill_brilliance_e.dat
src/wavepy/WAVE/stage/brill_brilliance_ef.dat
src/wavepy/WAVE/stage/brill_brilliance_f.dat
src/wavepy/WAVE/stage/brill_brilliance.dat
src/wavepy/WAVE/stage/brill_flux_e.dat
src/wavepy/WAVE/stage/brill_flux_ef.dat
src/wavepy/WAVE/stage/brill_flux_f.dat
src/wavepy/WAVE/stage/brill_flux-density_e.dat
src/wavepy/WAVE/stage/brill_flux-density_ef.dat
src/wavepy/WAVE/stage/brill_flux-density_f.dat
src/wavepy/WAVE/stage/brill_flux-density.dat
src/wavepy/WAVE/stage/brill_flux.dat
src/wavepy/WAVE/stage/brilliance_3702.wvh
src/wavepy/WAVE/stage/btab.dat
src/wavepy/WAVE/stage/dist__in_pinhole_11000.wvh
src/wavepy/WAVE/stage/g3_(pinhole__folded)_68000.wvh
src/wavepy/WAVE/stage/g3_(pinhole)_58000.wvh
src/wavepy/WAVE/stage/g3_e_(pinhole__folded)_88000.wvh
src/wavepy/WAVE/stage/g3_e_(pinhole)_78000.wvh
src/wavepy/WAVE/stage/g23_(pinhole__folded)_69000.wvh
src/wavepy/WAVE/stage/g23_(pinhole)_59000.wvh
src/wavepy/WAVE/stage/g23_e_(pinhole__folded)_89000.wvh
src/wavepy/WAVE/stage/g23_e_(pinhole)_79000.wvh
src/wavepy/WAVE/stage/horiz__cut_of_dist__in_pinh__10999.wvh
src/wavepy/WAVE/stage/horiz__power_density__vert__int___2001.wvh
src/wavepy/WAVE/stage/horizontal_folding_function_24100.wvh
src/wavepy/WAVE/stage/input_parameters_222.wvh
src/wavepy/WAVE/stage/irradiated_power_dist.wva
src/wavepy/WAVE/stage/p_(pinhole__folded)_64000.wvh
src/wavepy/WAVE/stage/p_(pinhole)_54000.wvh
src/wavepy/WAVE/stage/p_e_(pinhole__folded)_84000.wvh
src/wavepy/WAVE/stage/p_e_(pinhole)_74000.wvh
src/wavepy/WAVE/stage/p1_(pinhole__folded)_64500.wvh
src/wavepy/WAVE/stage/p1_(pinhole)_54500.wvh
src/wavepy/WAVE/stage/p1_e_(pinhole__folded)_84500.wvh
src/wavepy/WAVE/stage/p1_e_(pinhole)_74500.wvh
src/wavepy/WAVE/stage/p2_(pinhole__folded)_65000.wvh
src/wavepy/WAVE/stage/p2_(pinhole)_55000.wvh
src/wavepy/WAVE/stage/p2_e_(pinhole__folded)_85000.wvh
src/wavepy/WAVE/stage/p2_e_(pinhole)_75000.wvh
src/wavepy/WAVE/stage/p3_(pinhole__folded)_66000.wvh
src/wavepy/WAVE/stage/p3_(pinhole)_56000.wvh
src/wavepy/WAVE/stage/p3_e_(pinhole__folded)_86000.wvh
src/wavepy/WAVE/stage/p3_e_(pinhole)_76000.wvh
src/wavepy/WAVE/stage/p23_(pinhole__folded)_67000.wvh
src/wavepy/WAVE/stage/p23_(pinhole)_57000.wvh
src/wavepy/WAVE/stage/p23_e_(pinhole__folded)_87000.wvh
src/wavepy/WAVE/stage/p23_e_(pinhole)_77000.wvh
src/wavepy/WAVE/stage/photon_flux_(pinhole__folded)_49000.wvh
src/wavepy/WAVE/stage/photon_flux_(pinhole__folded)_249001.wvh
src/wavepy/WAVE/stage/photon_flux_(pinhole)_48000.wvh
src/wavepy/WAVE/stage/photon_flux_(pinhole)_248001.wvh
src/wavepy/WAVE/stage/photon_flux_density_for_selected_point_3601.wvh
src/wavepy/WAVE/stage/photon_flux_through_pinhole_3600.wvh
src/wavepy/WAVE/stage/power_density_2000.wvh
src/wavepy/WAVE/stage/power_dist_emittance.wva
src/wavepy/WAVE/stage/power_dist.wva
src/wavepy/WAVE/stage/s0_(pinhole__folded)_60000.wvh
src/wavepy/WAVE/stage/s0_(pinhole)_50000.wvh
src/wavepy/WAVE/stage/s0_e_(pinhole__folded)_80000.wvh
src/wavepy/WAVE/stage/s0_e_(pinhole)_70000.wvh
src/wavepy/WAVE/stage/s1__(pinhole__folded)_61000.wvh
src/wavepy/WAVE/stage/s1_(pinhole)_51000.wvh
src/wavepy/WAVE/stage/s1_e__(pinhole__folded)_81000.wvh
src/wavepy/WAVE/stage/s1_e_(pinhole)_71000.wvh
src/wavepy/WAVE/stage/s2_(pinhole__folded)_62000.wvh
src/wavepy/WAVE/stage/s2_(pinhole)_52000.wvh
src/wavepy/WAVE/stage/s2_e_(pinhole__folded)_82000.wvh
src/wavepy/WAVE/stage/s2_e_(pinhole)_72000.wvh
src/wavepy/WAVE/stage/s3_(pinhole__folded)_63000.wvh
src/wavepy/WAVE/stage/s3_(pinhole)_53000.wvh
src/wavepy/WAVE/stage/s3_e_(pinhole__folded)_83000.wvh
src/wavepy/WAVE/stage/s3_e_(pinhole)_73000.wvh
src/wavepy/WAVE/stage/selected_b0_e_x_1_e_12_(folded)_194500.wvh
src/wavepy/WAVE/stage/selected_b0_e_x_1_e_12_194000.wvh
src/wavepy/WAVE/stage/selected_b0_x_1_e_12_(folded)_190500.wvh
src/wavepy/WAVE/stage/selected_b0_x_1_e_12_190000.wvh
src/wavepy/WAVE/stage/selected_b1_e_x_1_e_12_(folded)_195500.wvh
src/wavepy/WAVE/stage/selected_b1_e_x_1_e_12_195000.wvh
src/wavepy/WAVE/stage/selected_b1_x_1_e_12_(folded)_191500.wvh
src/wavepy/WAVE/stage/selected_b1_x_1_e_12_191000.wvh
src/wavepy/WAVE/stage/selected_b2_e_x_1_e_12_(folded)_196500.wvh
src/wavepy/WAVE/stage/selected_b2_e_x_1_e_12_196000.wvh
src/wavepy/WAVE/stage/selected_b2_x_1_e_12_(folded)_192500.wvh
src/wavepy/WAVE/stage/selected_b2_x_1_e_12_192000.wvh
src/wavepy/WAVE/stage/selected_b3_e_x_1_e_12_(folded)_197500.wvh
src/wavepy/WAVE/stage/selected_b3_e_x_1_e_12_197000.wvh
src/wavepy/WAVE/stage/selected_b3_x_1_e_12_(folded)_193500.wvh
src/wavepy/WAVE/stage/selected_b3_x_1_e_12_193000.wvh
src/wavepy/WAVE/stage/selected_flux_density_(folded)_x_1_e_6_149000.wvh
src/wavepy/WAVE/stage/selected_flux_density_x_1_e_6_148000.wvh
src/wavepy/WAVE/stage/selected_g3_(folded)_x_1_e_6_168000.wvh
src/wavepy/WAVE/stage/selected_g3_e_(folded)_x_1_e_6_188000.wvh
src/wavepy/WAVE/stage/selected_g3_e_x_1_e_6_178000.wvh
src/wavepy/WAVE/stage/selected_g3_x_1_e_6_158000.wvh
src/wavepy/WAVE/stage/selected_g23_(folded)_x_1_e_6_169000.wvh
src/wavepy/WAVE/stage/selected_g23_e_(folded)_x_1_e_6_189000.wvh
src/wavepy/WAVE/stage/selected_g23_e_x_1_e_6_179000.wvh
src/wavepy/WAVE/stage/selected_g23_x_1_e_6_159000.wvh
src/wavepy/WAVE/stage/selected_p_(folded)_164000.wvh
src/wavepy/WAVE/stage/selected_p_154000.wvh
src/wavepy/WAVE/stage/selected_p_e_(folded)_184000.wvh
src/wavepy/WAVE/stage/selected_p_e_174000.wvh
src/wavepy/WAVE/stage/selected_p1_(folded)_164500.wvh
src/wavepy/WAVE/stage/selected_p1_154500.wvh
src/wavepy/WAVE/stage/selected_p1_e_(folded)_184500.wvh
src/wavepy/WAVE/stage/selected_p1_e_174500.wvh
src/wavepy/WAVE/stage/selected_p2_(folded)_165000.wvh
src/wavepy/WAVE/stage/selected_p2_155000.wvh
src/wavepy/WAVE/stage/selected_p2_e_(folded)_185000.wvh
src/wavepy/WAVE/stage/selected_p2_e_175000.wvh
src/wavepy/WAVE/stage/selected_p3_(folded)_166000.wvh
src/wavepy/WAVE/stage/selected_p3_156000.wvh
src/wavepy/WAVE/stage/selected_p3_e_(folded)_186000.wvh
src/wavepy/WAVE/stage/selected_p3_e_176000.wvh
src/wavepy/WAVE/stage/selected_p23_(folded)_167000.wvh
src/wavepy/WAVE/stage/selected_p23_157000.wvh
src/wavepy/WAVE/stage/selected_p23_e_(folded)_187000.wvh
src/wavepy/WAVE/stage/selected_p23_e_177000.wvh
src/wavepy/WAVE/stage/selected_s0_(folded)_x_1_e_6_160000.wvh
src/wavepy/WAVE/stage/selected_s0_e_(folded)_x_1_e_6_180000.wvh
src/wavepy/WAVE/stage/selected_s0_e_x_1_e_6_170000.wvh
src/wavepy/WAVE/stage/selected_s0_x_1_e_6_150000.wvh
src/wavepy/WAVE/stage/selected_s1_(folded)_x_1_e_6_161000.wvh
src/wavepy/WAVE/stage/selected_s1_e_(folded)_x_1_e_6_181000.wvh
src/wavepy/WAVE/stage/selected_s1_e_x_1_e_6_171000.wvh
src/wavepy/WAVE/stage/selected_s1_x_1_e_6_151000.wvh
src/wavepy/WAVE/stage/selected_s2_(folded)_x_1_e_6_162000.wvh
src/wavepy/WAVE/stage/selected_s2_e_(folded)_x_1_e_6_182000.wvh
src/wavepy/WAVE/stage/selected_s2_e_x_1_e_6_172000.wvh
src/wavepy/WAVE/stage/selected_s2_x_1_e_6_152000.wvh
src/wavepy/WAVE/stage/selected_s3_(folded)_x_1_e_6_163000.wvh
src/wavepy/WAVE/stage/selected_s3_e_(folded)_x_1_e_6_183000.wvh
src/wavepy/WAVE/stage/selected_s3_e_x_1_e_6_173000.wvh
src/wavepy/WAVE/stage/selected_s3_x_1_e_6_153000.wvh
src/wavepy/WAVE/stage/sources_11.wvh
src/wavepy/WAVE/stage/stokes_arrays__e_folded__4702.wvh
src/wavepy/WAVE/stage/stokes_arrays__emit__e_folded__4703.wvh
src/wavepy/WAVE/stage/stokes_arrays__folded__4701.wvh
src/wavepy/WAVE/stage/stokes_arrays_4700.wvh
src/wavepy/WAVE/stage/stokes_brilliance_emittance_espread.wva
src/wavepy/WAVE/stage/stokes_brilliance_emittance.wva
src/wavepy/WAVE/stage/stokes_brilliance_espread.wva
src/wavepy/WAVE/stage/stokes_brilliance.wva
src/wavepy/WAVE/stage/stokes_dist_1st_energy.wva
src/wavepy/WAVE/stage/stokes_dist_2nd_energy.wva
src/wavepy/WAVE/stage/stokes_dist_3rd_energy.wva
src/wavepy/WAVE/stage/stokes_dist_4th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_5th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_6th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_7th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_8th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_9th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_1st_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_2nd_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_3rd_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_4th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_5th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_6th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_7th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_8th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_9th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_espread_1st_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_espread_2nd_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_espread_3rd_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_espread_4th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_espread_5th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_espread_6th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_espread_7th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_espread_8th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_emittance_espread_9th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_espread_1st_energy.wva
src/wavepy/WAVE/stage/stokes_dist_espread_2nd_energy.wva
src/wavepy/WAVE/stage/stokes_dist_espread_3rd_energy.wva
src/wavepy/WAVE/stage/stokes_dist_espread_4th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_espread_5th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_espread_6th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_espread_7th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_espread_8th_energy.wva
src/wavepy/WAVE/stage/stokes_dist_espread_9th_energy.wva
src/wavepy/WAVE/stage/stokes_pinhole_emittance_espread.wva
src/wavepy/WAVE/stage/stokes_pinhole_emittance.wva
src/wavepy/WAVE/stage/stokes_pinhole_espread.wva
src/wavepy/WAVE/stage/stokes_pinhole.wva
src/wavepy/WAVE/stage/stokes_point_emittance_espread.wva
src/wavepy/WAVE/stage/stokes_point_emittance.wva
src/wavepy/WAVE/stage/stokes_point_espread.wva
src/wavepy/WAVE/stage/stokes_point.wva
src/wavepy/WAVE/stage/trajectory_10.wvh
src/wavepy/WAVE/stage/trajectory_on_grid_20.wvh
src/wavepy/WAVE/stage/trajectory.wva
src/wavepy/WAVE/stage/variables_of_user_common_block_223.wvh
src/wavepy/WAVE/stage/vert__cut_of_dist__in_pinh__10998.wvh
src/wavepy/WAVE/stage/vertical_folding_function_25100.wvh
src/wavepy/WAVE/stage/WAVE_CODE.DAT
src/wavepy/WAVE/stage/wave_example_1.wvh
src/wavepy/WAVE/stage/wave_run.log
src/wavepy/WAVE/stage/wave_start.seeds
src/wavepy/WAVE/stage/WAVE.mhb
src/wavepy/WAVE/stage/wave.out
src/wavepy/WAVE/stage/wave.seeds
src/wavepy/WAVE/stage/.wavesystem
src/wavepy/WAVE/stage/WAVE_CODE.DAT
src/wavepy/WAVE/stage/wave_run.log
src/wavepy/WAVE/stage/wave_start.seeds
src/wavepy/WAVE/stage/wave.seeds
src/wavepy/WAVE/stage/mh_book.lis
src/wavepy/WAVE/stage/WAVE_CODE.DAT
src/wavepy/WAVE/stage/wave_run.log
src/wavepy/WAVE/stage/wave_start.seeds
src/wavepy/WAVE/stage/wave.pid
src/wavepy/WAVE/stage/wave.status
src/wavepy/WAVE/stage/mh_book.lis
src/wavepy/WAVE/stage/WAVE_CODE.DAT
src/wavepy/WAVE/stage/wave_run.log
src/wavepy/WAVE/stage/wave_start.seeds
src/wavepy/WAVE/stage/wave.pid
src/wavepy/WAVE/stage/wave.status
